html,
body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: $light;
}
.layout.lightMode {
  background: $lightBackground;

  .mode {
    span {
      transform: translateX(25px) scale(1);
      color: #111;
    }
  }

  .section-title {
    color: $lightModeHeaderColor !important;
    text-shadow: none !important;
  }
  .film-card {
    .context {
      background: $liteLight !important;
    }
  }
  footer {
    * {
      color: $dark;
    }
  }
}
a {
  color: $dark;
  text-decoration: none;
}

ul {
  list-style: none;
}

// the scroll bar designing
::-webkit-scrollbar {
  width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #b4b4b4;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #414141;
  border-radius: 7px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #434344;
}
